  ul li{
                display: inline;
            }
            .pageslist{
                margin-bottom: .01cm;
                margin-top: .2cm;
                padding:3pt;
            }
            .lang{
                margin-top: 0.2cm;
                margin-left: 0cm;
            }
            .mwrap {
                background: #f1f0f0;
                padding:40pt;
            }
            .mainbody{
                background:#f1f0f0;
                padding:0pt;
            }
            
            .profilecon {
            border-radius: 10px;
            background-color: white;
            }
            .profilehead{
                background-image: url('../images/cov.jpg');

                background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
                -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
                -moz-background-size: cover; /* optional for Firefox 3.6 */ 
                -o-background-size: cover; /* for Opera 9.5 */
                margin: 0; /* to remove the default white margin of body */
                padding: 0; /* to remove the default white margin of body */
                overflow: hidden;


            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            padding: 15px;
            padding-top: 40px;
            text-align: center;
            color: #fff;
            }
            .section{
                margin-top: 10px;
                background-color: #fff;
                border-radius: 10px;
                padding:20px;
            }
            .summaryprof{
                padding:30px;
            }
            li a {
            color: white;
            
            }
            li a:hover{
                color:white;
            }
            a {
                 color: #4b9be1; 
                text-decoration: none;
            }
            .taglin,time,h5{
                font-size: 16px;
                font-weight: 400;
            }
            span i{
                padding: 3pt;
                margin:3pt;
                width:5pt;
            }
            h2{
                line-height:3;
            }
            .icon-holder .svg-inline--fa {
            width: 2em;
            padding: 2pt;
            padding-right: 5pt;
            }
            .item{
                padding: 10pt;
            }
            .inst, .time, .company{
                color: gray;
            }
            .technology {
                color: rgb(240, 142, 22);
                padding-left: 0pt;
            }
            .content
            {
                background-color: #f8fbf5;
                border: none;
                padding:15pt;
            }
            .profilepic{
                border-radius: 50%;
            }
            .collapsible {
            background-color: white;
            color: black;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            }

            .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            }

            .collapsible:after {
            content: '\002B';
            color: black;
            font-weight: bold;
            float: right;
            margin-left: 5px;
            }

            .active, .collapsible:hover {
            background-color: aliceblue;
            }

            .pageslist{
                font-size: 1.5rem;
            }
            .job-title, .degree{
            font-size: 23px;
           }
           .section, .summaryprof{
            padding-left: 45pt;
           }